@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
:root {
  --font: 'Josefin Sans', sans-serif;
  --caret-color: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --cardTodo: hsl(0, 0%, 98%);
  --background: hsl(236, 33%, 92%);
  --checkTodoActive: hsl(233, 11%, 84%);
  --placeholderTodo: hsl(236, 9%, 61%);
  --textTodo: hsl(235, 19%, 35%);
  --textTodoActive: hsl(233, 11%, 84%);
  --text-sorting: hsl(236, 9%, 61%);
  --hover: hsl(233, 14%, 35%);
  --bgBanner: url('images/bg-desktop-light.jpg');
  --iconToggle: url('images/icon-moon.svg');
  --support1: hsl(233, 14%, 35%);
  --support2: hsl(237, 14%, 26%);
}

html[data-colormode='dark'] {
  --background: hsl(235, 21%, 11%);
  --cardTodo: hsl(235, 24%, 19%);
  --textTodo: hsl(234, 39%, 85%);
  --placeholderTodo: hsl(234, 11%, 52%);
  --textTodoActive: hsl(233, 14%, 35%);
  --text-sorting: hsl(233, 14%, 35%);
  --checkTodoActive: hsl(233, 14%, 35%);
  --hover: hsl(234, 39%, 85%);
  --bgBanner: url('images/bg-desktop-dark.jpg');
  --iconToggle: url('images/icon-sun.svg');
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--background);
}

#root {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--background);
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: var(--bgBanner);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
}

.container-todo {
  position: relative;
  width: 500px;
  font-family: var(--font);
}

.container-todo .nav-todo {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
}

.container-todo .nav-todo .title-nav {
  font-size: 2.5em;
  color: #fff;
  padding-top: 0.2em;
  letter-spacing: 8px;
}

.container-todo .nav-todo .toggle-nav {
  width: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
  background: var(--iconToggle);
  background-repeat: no-repeat;
  background-position: center;
}

.container-todo .input-group {
  position: relative;
  width: 100%;
  height: 50px;
  background: var(--cardTodo);
  border-radius: 0.3em;
  margin-top: 1.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
  overflow: hidden;
  font-family: var(--font);
}

.container-todo .input-group .input-check {
  width: 50px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0.5em;
  cursor: pointer;
  border: none;
  background: var(--cardTodo);
}

.container-todo .input-group .input-check i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: var(--caret-color);
}

.container-todo .input-group .input-todo {
  width: 100%;
  height: 100%;
  outline: none;
  font-weight: 700;
  background: transparent;
  color: var(--textTodo);
  caret-color: var(--caret-color);
  border: none;
  padding-left: 1em;
}

.container-todo .input-group .input-todo::-webkit-input-placeholder {
  font-weight: 500;
  color: var(--textTodo);
}

.container-todo .input-group .input-todo:-ms-input-placeholder {
  font-weight: 500;
  color: var(--textTodo);
}

.container-todo .input-group .input-todo::-ms-input-placeholder {
  font-weight: 500;
  color: var(--textTodo);
}

.container-todo .input-group .input-todo::placeholder {
  font-weight: 500;
  color: var(--textTodo);
}

.container-todo .todo-list-container {
  position: relative;
  width: 100%;
  background: var(--cardTodo);
  height: 250px;
  margin-top: 1.5em;
  overflow-x: hidden;
  overflow-y: auto;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.container-todo .todo-list-container .list-item {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto;
  border-bottom: 1px solid var(--checkTodoActive);
}

.container-todo .todo-list-container .list-item .check-list {
  width: 50px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container-todo .todo-list-container .list-item .check-list .circle-list {
  border: 1px solid var(--checkTodoActive);
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: transparent;
}

.container-todo .todo-list-container .list-item .check-list .circle-list:hover {
  background: var(--CheckBackground);
}

.container-todo .todo-list-container .list-item .check-list .circle-list:hover img {
  opacity: 1;
}

.container-todo .todo-list-container .list-item .check-list .circle-list img {
  opacity: 0;
}

.container-todo .todo-list-container .list-item .todo-desc {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  oveflow-y: hidden;
  color: var(--textTodo);
}

.container-todo .todo-list-container .list-item .delete-todo {
  width: 50px;
  height: 100%;
  border: none;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.container-todo .todo-list-container .list-item:hover .delete-todo {
  opacity: 1;
}

.container-todo .sorting-todo {
  position: relative;
  width: 100%;
  height: 50px;
  background: var(--cardTodo);
  border-top: 1px solid var(--checkTodoActive);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: var(--text-sorting);
  font-weight: 600;
}

.container-todo .sorting-todo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.2em;
  font-size: 0.9em;
}

.container-todo .sorting-todo .jumlah-todo {
  gap: 0.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1em;
}

.container-todo .sorting-todo .clear-todo {
  padding-right: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.container-todo .sorting-todo .clear-todo:hover {
  color: var(--hover);
}

.container-todo .modal-delete {
  background: var(--cardTodo);
}

.container-todo .modal-delete .modal-body {
  color: var(--textTodo);
}

@media screen and (max-width: 768px) {
  :root {
    --bgBanner: url('images/bg-mobile-light.jpg');
  }
  html[data-colormode='dark'] {
    --bgBanner: url('images/bg-mobile-dark.jpg');
  }
  .container-todo .sorting-todo {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container-todo .sorting-todo .jumlah-todo {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .container-todo .sorting-todo .clear-todo {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media screen and (max-width: 550px) {
  .container-todo {
    width: 100%;
    padding: 0 1.5em;
  }
}

@media screen and (max-height: 600px) {
  #root {
    height: auto;
    padding: 6em 1em 5em;
  }
}
/*# sourceMappingURL=main.css.map */